<h1>Hello, Rails!</h1>
<br />
<%= link_to "Rails Best Practices", "rails_best_practices_output.html" %>
<br />
<%= link_to "GitHub - Commit History", "https://github.com/DevonK/CS372/commits/master" %>
<br />
<%= link_to "GitHub - Issue Tracker", "https://github.com/DevonK/CS372/issues?state=open" %>