// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-border {
  border: 1px solid #666;
}

.right-border {
  border-right: 1px solid #666;
}

.left-border {
  border-left: 1px solid #666;
 border-spacing:10px 50px;
}

textarea.rounded {
  color: #000;
  width: 600px;
  height: 160px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  border: 5px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

textarea.rounded:focus textarea.rounded-auto-size:focus {
  border-color: #339933;
}

.float-right {
  float: right;
}

p.content {
  margin: 5px 0px;
}


.timestamp {
  background-color: #32373c;
  height: 10%;
  width: 10%;
}

.margin-top{
  margin-top: 10px;
}

.margin-right{
  margin-right: 10px;
}


textarea.rounded-auto-size {
  color: #000;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-image: url(bg.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  border: 5px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.admin a{
  color: red;
}

.user a {
  color: blue;
}

.user-bar {
  padding: 10px 0px 0px 10px;
}

#one-true { overflow: hidden; }
#one-true .col {
	float: left;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}

.edit {
  padding-top: 21px;
  font-size: 12px;
  font-style: italic;
}